</main>

  <footer class="pb-1 border-top">
    <ul class="nav justify-content-center">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
      <li class="nav-item">
        <button id="tech" type="button" class="nav-link px-2 text-body-secondary" data-bs-toggle="modal" data-bs-target="#technologiesModal">Τεχνολογίες</button>
      </li>
      <li class="nav-item"><a class="nav-link px-2 text-body-secondary" href="/">Όψη Διαχειριστή</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
    </ul>
    <p class="text-center text-body-secondary mb-0">© <%= new Date().getFullYear() %> ΕΥ ΖΗΝ</p>
  </footer>


</body>

</html>