<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="styles/main.css" />
    <title>Βιβλιοθήκη</title>
  </head>
  <header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
      >
        <a
          href="/"
          class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none"
        >
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-book me-2" viewBox="0 0 16 16">
          <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
        </svg>
        </a>

        <ul
          class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center align-items-center mb-md-0"
        >
          <!-- <li><a href="#" class="nav-link px-2 link-secondary">My personal page</a></li> -->
          <li><a class="nav-link px-2 link-body-emphasis" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Προσωπικός Ιστότοπος</a></li>
          <li><a class="nav-link px-2 link-body-emphasis" data-bs-toggle="collapse" href="#multiCollapseExample2" role="button" aria-expanded="false" aria-controls="multiCollapseExample2">Σχετικά</a></li>
          <li>
            <button id="tech" type="button" class="nav-link px-2 link-body-emphasis" data-bs-toggle="modal" data-bs-target="#technologiesModal">Τεχνολογίες</button>
          </li>

          <li>
      
              <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample1">
                  <div class="card card-body pt-1 pb-1" style="width: 155px;">
                    Μη διαθέσιμο
                  </div>
                </div>
                <div class="collapse multi-collapse" id="multiCollapseExample2">
                  <div class="card card-body pt-1 pb-1" style="width: 612px;">
                    <!-- A page where you can save the books you have read, write notes and rate them. -->
                    Μία σελίδα όπου αποθηκεύετε, σημειώνετε και βαθμολογείτε τα βιβλία που έχετε διαβάσει.
                  </div>
                </div>
              </div>
          
          </li>
        </ul>

        <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input
            type="search"
            class="form-control"
            placeholder="Search..."
            aria-label="Search"
          />
        </form> -->

        <div class="dropdown text-end">
          <a
            href="#"
            class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="https://github.com/mdo.png"
              alt="mdo"
              width="32"
              height="32"
              class="rounded-circle"
            />
            <!-- <% console.log("Γαμώ", data) %> -->
              <% if (data) { %>
              <%= data.first_name %>
            <% } %>
            
          </a>
          <ul class="dropdown-menu text-small disabled" >
            <li><a class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#adminLoginModal">Σύνδεση</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="/">Έξοδος</a></li>
          </ul>
        </div>
      </div>
    </div>

    
  </header>
  <body>
    <main>


<!-- Modals -->

<div class="modal fade" id="adminLoginModal" tabindex="-1" aria-labelledby="adminLoginModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <h1 class="fw-bold mb-0 fs-2">Συνδέσου</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
    
      <div class="modal-body p-5 pt-0">
        <form class="" method="post" action="/login">
          <div class="form-floating mb-3">
            <input id="floatingEMail" type="email" class="form-control rounded-3" name='email' placeholder="παράδειγμα@παράδειγμα.gr">
            <label for="floatingEMail">Ηλεκτρονικό Ταχυδρομείο</label>
          </div>
          <div class="form-floating mb-3">
            <input id="floatingPassword" type="password" class="form-control rounded-3" name='password' placeholder="Κωδικός">
            <label for="floatingPassword">Κωδικός</label>
          </div>
          <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Σύνδεση</button>
          <small class="text-body-secondary text-center">Εάν δεν έχετε λογαριασμό πατήστε εδώ για εγγραφή.</small>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="technologiesModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="additionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-body px-5 py-4">
        <h2 class="fw-bold mb-2 text-center">Τεχνολογίες</h2>

        <ul class="d-grid gap-3 my-3 list-unstyled small">
          <ul class="d-grid gap-4 my-2 list-unstyled small">
            <li class="d-flex gap-4 justify-content-center">
                <h5 class="mb-0 text-center">Βασικές</h5>
            </li>
            <li class="d-flex gap-4 justify-content-around">
              <img class="bi text-body-secondary flex-shrink-0" height="64" src="./images/javascript.svg" alt="Javascript"/>
              <img class="bi text-body-secondary flex-shrink-0" height="64" src="./images/css.svg" alt="CSS"/>
              <img class="bi text-body-secondary flex-shrink-0" height="64" src="./images/html.svg" alt="HTML"/>
            </li>
          </ul>
          <ul class="d-grid gap-4 my-2 list-unstyled small">
            <li class="d-flex gap-4 justify-content-center">
              <h5 class="mb-0 text-center">Επιπρόσθετες</h5>
            </li>
            <li class="d-flex gap-4 justify-content-around">
              <img class="bi text-body-secondary flex-shrink-0" height="64" src="./images/ejs.svg" alt="EJS"/>
              <img class="bi text-body-secondary flex-shrink-0" height="64" src="./images/express.svg" alt="CSS"/>
              <img class="bi text-body-secondary flex-shrink-0" height="64" src="./images/bootstrap.svg" alt="Bootstrap"/>
            </li> 
          </ul>
          <ul class="d-grid gap-4 my-2 list-unstyled small">
            <li class="d-flex gap-4 justify-content-center">
              <h5 class="mb-0 text-center">Βάσεις Δεδομένων</h5>
            </li>
            <li class="d-flex gap-4 justify-content-around">
              <img class="bi text-body-secondary flex-shrink-0" height="64" src="./images/postgresql.svg" alt="PostgreSQL"/>
            </li> 
          </ul>
          <ul class="d-grid gap-4 my-2 list-unstyled small">
            <li class="d-flex gap-4 justify-content-center">
              <h5 class="mb-0 text-center">Έλεγχος Εκδόσεων</h5>
            </li>
            <li class="d-flex gap-4 justify-content-around">
              <img class="bi text-body-secondary flex-shrink-0" height="64" src="./images/git.svg" alt="GIT"/>
              <img class="bi text-body-secondary flex-shrink-0" height="64" src="./images/github.svg" alt="Github"/>
            </li> 
          </ul>
        </ul>
        <button type="button" class="btn btn-lg btn-primary mt-2 w-100" data-bs-dismiss="modal">Ωραίος</button>
      </div>
    </div>
  </div>
</div>




